<h2 class="page-title">Projects</h2>
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Greed Algorithm <> Java
          </button>
        </h5>
      </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            I analyzed the dice game Greed and developed a Java Algorithm aimed at gleaning strategic insight into the best way to play. A full writeup on my work is available on my blog <a href="blog/greed">here</a> and the main source code is available on my Github <a href="https://github.com/thekarlbrown/GreedAlgorithm/tree/master/src/com/company">here</a>.
        </div>
      </div>
    </div>
 
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Alexa Skills <> Python &middot; AWS Lambda
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            I developed multiple Alexa Skills using Python and AWS Lambda functions. They are powered via the WMATA Metro, Yelp, and Google Calendar API's and can be seen in my <a href="https://github.com/thekarlbrown">pinned repositories</a>.
        </div>
      </div>
    </div>
 
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collegiate CS:GO and LoL Team Manager
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            I was Captain of multiple eSports teams at Christopher Newport University, including the Counter-Strike: Global Offensive team. I developed practice methodologies and led my team in Leagues against other universities, beating teams at institutions such as Princeton and CalTech.
        </div>
      </div>
    </div>
  </div>