<h2 class="page-title">Projects</h2>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingZero">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          What Shall We Eat <> Linux &middot; AWS &middot; MEAN Stack 
        </button>
      </h5>
    </div>
      <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordionExample">
      <div class="card-body">
        I developed a hackathon-style app over a single weekend to learn more about the MEAN Stack (MongoDB, Express, Angular, Node) hosted on an AWS EC2 instance. You can see the finished product at <a href="https://whatshallweeat.dev">whatshallweeat.dev</a>. Enable location services when prompted to experience What Shall We Eat fully.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          PredictThat <> Python &middot; MySql &middot; Linux &middot; ML 
        </button>
      </h5>
    </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        I collaborated with a friend to deploy a Linux server powering a data pipeline that data mined from various sources. We then performed predictive analytics using financial analysis and machine learning in order to develop a profitability model for trading advantageously on PredictIt.
      </div>
    </div>
  </div>
  
  <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Greed Algorithm <> Java
          </button>
        </h5>
      </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            I analyzed the dice game Greed and developed a Java Algorithm aimed at gleaning strategic insight into the best way to play. A full writeup on my work is available on my blog <a href="/#/blog/greed">here</a> and the main source code is available on my Github <a href="https://github.com/thekarlbrown/GreedAlgorithm/tree/master/src/com/company">here</a>.
        </div>
      </div>
    </div>
 
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Alexa Skills <> Python &middot; AWS Lambda
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            I developed multiple Alexa Skills using Python and AWS Lambda functions. They are powered via the WMATA Metro, Yelp, and Google Calendar API's and can be seen in my <a href="https://github.com/thekarlbrown">pinned repositories</a>.
        </div>
      </div>
    </div>
 
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Collegiate CS:GO and LoL Team Manager
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
            I served as Captain of multiple eSports teams at Christopher Newport University, including the Counter-Strike: Global Offensive team. I developed practice methodologies and led my team in Leagues against other universities, beating teams at institutions such as Princeton and CalTech.
        </div>
      </div>
    </div>
  </div>