
<nav class="navbar navbar-dark py-0 bg-primary navbar-expand-lg py-md-0">
    <a class="navbar-brand" href="#">Karl Brown</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item py-0"><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
            <li class="nav-item py-0"><a href="assets/files/Resume.pdf" target="_blank" class="nav-link">Resume</a></li>
            <li class="nav-item dropdown final-item">
                <a class="nav-link dropdown-toggle" href="http://thekarlbrown.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/blog/greed" routerLinkActive="active">Greed Algorithm Writeup - 26th August 2017</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/blog/changetheworld" routerLinkActive="active">Change The World Analysis - 9th May 2015</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/blog/hackUVA" routerLinkActive="active">HackUVA 2015 - 14th March 2015</a>
                </div>
            </li>
            <li class="nav-item py-0"><a routerLink="/projects" routerLinkActive="active" class="nav-link">Projects</a></li>
            
        </ul>
    </div>
</nav>