.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.group-item-anchor {
    padding-left: 10px;
}

.list-group-item {
    display: flex; /* allows align-items to work below */
    justify-content: center; /* Horizontally centers single-line elements */
    text-align:center; /* Horizontally centers text within line-wrapped elements */
    align-items: center; /* vertical */
}