<h2 class="page-title">About</h2>
<div class="about-wrapper">
    <div class="profile-image">
        <img class="img-fluid img-thumbnail" src="assets/images/face.jpg">
    </div>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">BS in Computer Science with 3.45 GPA</li>
            <li class="list-group-item">Resident of McLean, VA</li>
            <li class="list-group-item">Passionate about programming since childhood</li>
            <li class="list-group-item">Full Stack Web Application Developer with notable C#/Angular2-4/Python experience</li>
            <li class="list-group-item">Tabletop Gamer and Magic: The Gathering player</li>
            <li class="list-group-item"><i class="fa fa-github fa-2x"><a href="https://github.com/thekarlbrown" class="group-item-anchor">Github</a></i></li>
            <li class="list-group-item"><i class="fa fa-linkedin fa-2x"><a href="https://www.linkedin.com/in/thekbrown" class="group-item-anchor">LinkedIn</a></i></li>
            <li class="list-group-item"><i class="fa fa-file fa-2x"><a href="assets/files/Resume.pdf" class="group-item-anchor">Resume</a></i></li>
            <li class="list-group-item"><i class="fa fa-envelope-square fa-2x"><a href="mailto:karl@thekarlbrown.com" class="group-item-anchor">Email</a></i></li>
        </ul>
    </div>

</div>